.sport-item{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: #222c3b;
    border-radius: 8px;
    width: 100%;
    margin: 5px;
    border-bottom: 1px solid #ffc600;
}
.image-wrapper {
  position: relative;
  background-color: #000;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.slideshow {
  width: 625px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}
.slide{
  animation: slide 24s ease infinite;
}
.slideshow-container{
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 225px;
}
/* @keyframes slide{
0%, 25.2033% {
    margin-left: 0;
}
33.3333%, 58.5366% {
    margin-left: -100%;
}
66.6667%, 91.8699% {
    margin-left: -200%;
} */
#sidebar {
  position: fixed;
  width: 320px;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 100vh;
  transition: all .5s;
  border-right: 1px solid #dfdfdf;
  z-index: 1;
}
 #sidebar {
  background-color: #0a192f !important;
  color: #f6f6f6 !important;
}
#sidebar .sidebar-header a img {
  width: 80%;
  height: auto !important;
  margin: auto;
  padding: 5px 0;
}

#sidebar .sidebar-header a {
  height: 100%;
  display: flex;
  align-items: center;
}
#sidebar .sidebar-header {
  text-align: center;
  display: flex;
  align-items: center;
}
body.dark-theme .search {
  background-color: #1e2028;
}
.search-box {
  position: relative;
  height: 30px;
  margin: 3px 0;
}
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e4e4e4;
  height: 100%;
  border-radius: 20px;
  padding-left: 6px;
  display: flex;
  width: 95%;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-weight: 500;
  color: #000;
  font-size: 13px;
  transition: ease-in .4s;
  line-height: 40px;
  width: calc(100% - 40px);
  font-family: "Roboto", "Lucida Sans", "trebuchet MS", Arial, Helvetica;
}
.search {
  background-color: #1e2028;
}
.modal-content {
  background-color: #0a192f !important;
  color: #97a0b7 !important;
}
.modal-content {
  border-radius: 4px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}
.modal-dialog {
  max-width: 500px !important;
}
.form-box input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #cfd7e9;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  padding: 8px;
  color: #000;
}
.user_icon {
  box-sizing: border-box;
  outline: none;
  padding: 9px 18px;
  color: #97a0b7;
  background-color: #242731 !important;
  border-radius: 15px 2px 2px 15px;
}
.user_icon {
  background-color: #0c1c37 !important;
}
.inner-addon {
  position: relative;
  align-items: center;
}
.policy {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.form-box .login-btn {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 0;
  background: linear-gradient(95.22deg, #2dc3e8 7.33%, #2d7182 108.79%);
  color: #fff;
  font-family: var(--font_family_global);
  transition: .3s linear;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 15px;
  line-height: 18px;
}
.modal-close-button{
  color: white;
  margin: 8px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  justify-content: flex-end;
  float: right;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.chamak1 {
  bottom: 0;
  right: 0;
  background: linear-gradient(60deg, #a65ff2, #f25fd0, #f25f61);
  border-radius: inherit;
  content: "Popular Sports";
  position: absolute;
}
#sidebar ul.components {
  padding: 0 0 10px;
  list-style-type: none;
  height: calc(100vh - 123px);
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar ul, #sidebar li, label {
  line-height: normal;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 1rem;
}

label img {
  width: 17px !important;
}
.sports4 {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/cricket.png);
}
.sports-icon-grey {
  height: 25px;
  width: 25px;
  background-size: 25px auto;
}
.casinoesLink div span {
  font-size: 15px;
  margin-left: 8px;
  vertical-align: middle;
  /* overflow: hidden; */
}
.casinoesLink {
  cursor: pointer;
}
.market-border {
  border-bottom: 1px solid #dfdfdf;
  inline-size: 100%;
  overflow: hidden;
}
.alert-darkmode {
  background: none !important;
  color: #97a0b7;
}
.side-content{
  padding-left: 330px;
}
.horse-image {
  width: 100%;
  height: 32px !important;
}
.card {
  background-color: #222c3b !important;
  color: white;
}
.FR {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/img/flags/fr.svg);
}
.flag_logo {
  background-origin: content-box;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px -5px 2px;
}
.inplay_matches_heading span {
  color: #fff !important;
}
a{
  color: #fff !important
}
.AU {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/img/flags/au.svg);
}
.sports4 {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/cricket.png);
}
.sports-icon, .sports-icon-grey {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 33px auto;
  transform: scale(.75);
  float: left;
  vertical-align: middle;
  /* background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/sidebar-icons/ss-failover.svg); */
}
.game-box {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #0a192f;
  border-top: 1px solid #233554;
}
.game-box {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dfdfdf;
  padding: 1px 0;
  /* background: #fff; */
}
.game-1, .info-below {
  display: flex;
  justify-content: flex-start;
}
.game-1 .runner-team {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0;
}
.game-1 img {
  max-width: 20px;
  margin: auto 4px;
}
.game-box-left {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.vertical-divider {
  width: 1px;
  margin-right: 2px;
  background-color: #222c3b!important;
  height: 100%;
}
.game-box .game-box-right .box {
  width: 50px;
  /* height: 30px; */
  margin: 0 1px;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.amount-below, .amount-below p {
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
}
.amount-below {
  font-style: normal;
  text-align: center;
  color: #000;
}
.game-box .game-box-right .box span {
  display: block !important;
  font-style: normal;
  font-size: 12px;
  font-family: var(--font_family_global);
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.gradient-special-b {
  background: #f4c4f3 !important;
  background: linear-gradient(90deg, #f4c4f3 -66.05%, #f59dc2 93%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4c4f3",endColorstr="#f59dc2",GradientType=1)!important;
  color: #000 !important;
}
.sports1, .sports14 {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/football.png);
}
.sports16, .sports2{
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/tennis.png);
}
.game-box-left .category {
  background: #27ab69;
  border-radius: 2px;
  font-family: var(--font_family_global);
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  color: #fff;
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}
.pull-left, .status-wrapper span.comingup-date, .status-wrapper span.comingup-time {
  font-size: 12px !important;
}
.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #f6f6f6; */
}
.status-wrapper {
  max-width: 70px !important;
}