@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  font-family: "Roboto", sans-serif;
}

.sport-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: #222c3b;
  border-radius: 8px;
  width: 100%;
  margin: 5px;
  border-bottom: 1px solid #ffc600;
}
.image-wrapper {
  position: relative;
  background-color: #000;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.slideshow {
  width: 625px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}
.slide {
  animation: slide 24s ease infinite;
}
.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 225px;
}
/* @keyframes slide{
0%, 25.2033% {
    margin-left: 0;
}
33.3333%, 58.5366% {
    margin-left: -100%;
}
66.6667%, 91.8699% {
    margin-left: -200%;
} */
#sidebar {
  position: fixed;
  width: 320px;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 100vh;
  transition: all 0.5s;
  border-right: 1px solid #dfdfdf;
  z-index: 1;
}
#sidebar {
  background-color: #0a192f !important;
  color: #f6f6f6 !important;
}
#sidebar .sidebar-header a img {
  width: 80%;
  height: auto !important;
  margin: auto;
  padding: 5px 0;
}

#sidebar .sidebar-header a {
  height: 100%;
  display: flex;
  align-items: center;
}
#sidebar .sidebar-header {
  text-align: center;
  display: flex;
  align-items: center;
}
body.dark-theme .search {
  background-color: #1e2028;
}
.search-box {
  position: relative;
  height: 30px;
  margin: 3px 0;
}
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e4e4e4;
  height: 100%;
  border-radius: 20px;
  padding-left: 6px;
  display: flex;
  width: 95%;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-weight: 500;
  color: #000;
  font-size: 13px;
  transition: ease-in 0.4s;
  line-height: 40px;
  width: calc(100% - 40px);
  font-family: "Roboto", "Lucida Sans", "trebuchet MS", Arial, Helvetica;
}
.search {
  background-color: #1e2028;
}
.modal-content {
  background-color: #0a192f !important;
  color: #97a0b7 !important;
}
.modal-content {
  border-radius: 4px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-dialog {
  max-width: 500px !important;
}
.form-box input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #cfd7e9;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  padding: 8px;
  color: #000;
}
.user_icon {
  box-sizing: border-box;
  outline: none;
  padding: 9px 18px;
  color: #97a0b7;
  background-color: #242731 !important;
  border-radius: 15px 2px 2px 15px;
}
.user_icon {
  background-color: #0c1c37 !important;
}
.inner-addon {
  position: relative;
  align-items: center;
}
.policy {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.form-box .login-btn {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 0;
  background: linear-gradient(95.22deg, #2dc3e8 7.33%, #2d7182 108.79%);
  color: #fff;
  font-family: var(--font_family_global);
  transition: 0.3s linear;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 15px;
  line-height: 18px;
}
.modal-close-button {
  color: white;
  margin: 8px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  justify-content: flex-end;
  float: right;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.chamak1 {
  bottom: 0;
  right: 0;
  background: linear-gradient(60deg, #a65ff2, #f25fd0, #f25f61);
  border-radius: inherit;
  content: "Popular Sports";
  position: absolute;
}
#sidebar ul.components {
  padding: 0 0 10px;
  list-style-type: none;
  height: calc(100vh - 123px);
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar ul,
#sidebar li,
label {
  line-height: normal;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 1rem;
}

label img {
  width: 17px !important;
}
.sports4 {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/cricket.png);
}
.sports-icon-grey {
  height: 25px;
  width: 25px;
  background-size: 25px auto;
}
.casinoesLink div span {
  font-size: 15px;
  margin-left: 8px;
  vertical-align: middle;
  /* overflow: hidden; */
}
.casinoesLink {
  cursor: pointer;
}
.market-border {
  border-bottom: 1px solid #dfdfdf;
  inline-size: 100%;
  overflow: hidden;
}
.alert-darkmode {
  background: none !important;
  color: #97a0b7;
}
.side-content {
  padding-left: 330px;
}
.horse-image {
  width: 100%;
  height: 32px !important;
}
.card {
  background-color: #222c3b !important;
  color: white;
}
.FR {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/img/flags/fr.svg);
}
.flag_logo {
  background-origin: content-box;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px -5px 2px;
}
.inplay_matches_heading span {
  color: #fff !important;
}
a {
  color: #fff;
}
.AU {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/img/flags/au.svg);
}
.sports4 {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/cricket.png);
}
.sports-icon,
.sports-icon-grey {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 33px auto;
  transform: scale(0.75);
  float: left;
  vertical-align: middle;
  /* background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/sidebar-icons/ss-failover.svg); */
}
.game-box {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #0a192f;
  border-top: 1px solid #233554;
}
.game-box {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dfdfdf;
  padding: 1px 0;
  /* background: #fff; */
}
.game-1,
.info-below {
  display: flex;
  justify-content: flex-start;
}
.game-1 .runner-team {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0;
}
.game-1 img {
  max-width: 20px;
  margin: auto 4px;
}
.game-box-left {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.vertical-divider {
  width: 1px;
  margin-right: 2px;
  background-color: #222c3b !important;
  height: 100%;
}
.game-box .game-box-right .box {
  width: 50px;
  /* height: 30px; */
  margin: 0 1px;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.amount-below,
.amount-below p {
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
}
.amount-below {
  font-style: normal;
  text-align: center;
  color: #000;
}
.game-box .game-box-right .box span {
  display: block !important;
  font-style: normal;
  font-size: 12px;
  font-family: var(--font_family_global);
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.gradient-special-b {
  background: #f4c4f3 !important;
  background: linear-gradient(90deg, #f4c4f3 -66.05%, #f59dc2 93%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4c4f3",endColorstr="#f59dc2",GradientType=1) !important;
  color: #000 !important;
}
.sports1,
.sports14 {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/football.png);
}
.sports16,
.sports2 {
  background-image: url(https://dqqdyv927mezc.cloudfront.net/kheloyar/clientweb/images/icons-color/tennis.png);
}
.game-box-left .category {
  background: #27ab69;
  border-radius: 2px;
  font-family: var(--font_family_global);
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  color: #fff;
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}
.pull-left,
.status-wrapper span.comingup-date,
.status-wrapper span.comingup-time {
  font-size: 12px !important;
}
.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #f6f6f6; */
}
.status-wrapper {
  max-width: 70px !important;
}

/* top bar css */

.c-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  /* height: 50px; */
  margin: auto;
  padding: 3px;
  background: #252525;
}

.logo-section {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
}
.c-top-bar .menu-links {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
}
.c-top-bar .menu-links .nav-link {
  display: flex !important;
  flex-direction: column;
  padding: 3px 4px 5px;
  align-items: center;
}
.c-top-bar .menu-links .nav-link:hover {
  background: #2d2d37;
}
.c-top-bar .menu-links .nav-link img {
  height: 20px;
  width: 20px;
  margin: auto;
}

.c-top-bar .menu-links .nav-link span {
  font-size: 12px;
  color: #fff;
  padding-top: 4px;
}
.refresh-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  gap: 5px;
  cursor: pointer;
}
.bal-liab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  grid-gap: 5px;
  gap: 5px;
}
.bal-liab .bal {
  border-radius: 5px;
  background-color: #4c4c4ccc;
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 3px;
  gap: 3px;
  width: 120px;
}

.bal-liab .bal span {
  font-size: 11px;
  font-weight: 500;
  color: #fff;
}
.dropdown-toggle {
  box-shadow: none !important;
}
.dropdown-toggle::after {
  border-top: 0.3em solid #fff;
  display: none;
}
.c-top-bar .dropdown-menu {
  display: block;
  position: absolute;
  left: -190px !important;
  border: 0;
  transform: translate(0, 80px) !important;
  box-shadow: 0 10px 30px #00000057;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 235px;
  padding-bottom: 0;
  background: #020c1b;
}
.c-top-bar .dropdown-menu li {
  overflow: hidden;
}
.c-top-bar .dropdown-menu .arrow {
  position: absolute;
  top: -20px;
  right: 24px;
  color: #707d9b;
  font-size: 20px;
}
.c-top-bar .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 55px) !important;
}
.c-top-bar .dropdown-menu li a {
  font-size: 15px;
  padding: 8px 10px;
  font-weight: 500;
  color: #707d9b !important;
}
.c-top-bar .dropdown-menu li a img {
  max-width: 23px;
  margin-right: 10px;
}
.c-top-bar .dropdown-menu li a:active {
  background: #eee !important;
  color: #000 !important;
}

.dark-top {
  background-color: #111010;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-top .topmenubar {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dark-top .topmenubar li {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}
.dark-top .topmenubar li a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.dark-top .topmenubar li a.casino-blink {
  animation: color-change 4.2s linear infinite;
}
@keyframes color-change {
  0% {
    color: #f54141;
  }
  50% {
    color: #f70b0b;
  }
  100% {
    color: #ff0;
  }
}
.game-body {
  width: 100%;
  height: 84vh;
  background-color: #e8e9eb;
}
.menu_toggle {
  height: 100vh;
  padding: 2px;
}

.menu_toggle .header {
  font-weight: 600;
  font-size: 15px;
  cursor: default;
  color: #fafafa;
  background: #373737 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 4px 4px 0 0;
  opacity: 1;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}
.accordion {
  padding: 0;
  background: transparent;
  border-radius: 0 0 4px 4px;
  margin-top: 0;
  color: #373737;
}
.accordion .accordion-button {
  border-radius: 0 !important;
  padding: 10px 7px;
  font-size: 13px;
  box-shadow: none !important;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  color: #373737ba;
}

.accordion .accordion-button img {
  width: 20px;
  margin-right: 10px;
}
.accordion-button:not(.collapsed) {
  color: #ffbe00;
  background: none !important;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0.5);
}
.accordion .accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
}
.accordion-body {
  padding: 0;
}
.list-group {
  padding-left: 20px;
}
.list-group .list-group-item {
  border: 0;
  padding: 2px 10px;
}
.list-group li a {
  font-size: 13px;
  color: #444;
}

.menu_toggle .input-group-text {
  background: #fff;
  border: 0;
  font-size: 14px;
  padding-left: 10px;
}
.menu_toggle .form-control {
  font-size: 12px;
  box-shadow: none !important;
  border-color: #ced4da !important;
  border: 0;
  padding-left: 0;
}

.middle-section {
  margin-left: -3.5rem;
}
.icons_main {
  scroll-snap-type: y proximity;
  scroll-padding-top: 15vh;
  user-select: none;
}
.icons {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: auto;
  height: 74px;
}
.icons_list {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 5px;
}
.sportsMenuIcon,
.sportsMenu_1_icon,
.sportsMenu_2_icon,
.sportsMenu_3_icon,
.live_stream_icon {
  position: relative;
  width: 22px;
  height: 30px;
  background-repeat: no-repeat;
  margin: auto;
  background-position: center;
  bottom: 0;
  border-radius: 30%;
}
.nameAlign {
  font-size: 11px;
  margin: 2px 1px;
  color: #373737;
  line-height: 10px;
  padding: 0 10px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-transform: capitalize;
  bottom: 0;
  transition: 0.3s;
}
.icons_list:hover .nameAlign {
  font-weight: 600;
}
.liveCounts {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.livecount_desktop {
  width: 15px;
  color: #373737;
  display: flex;
  font-size: 10px;
  justify-content: center;
}
.tooltiptext {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background: #383542;
  color: #fff;
  line-height: 1;
  min-height: 20px;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.middle-section .accordion .accordion-item:last-of-type {
  background: none !important;
  border: 0;
}
.middle-section .accordion .accordion-button {
  border-radius: 5px !important;
  font-size: 16px;
  border: 0 !important;
  background: #373737 !important;
  color: #fff !important;
}
.middle-section .accordion .accordion-button::after {
  position: relative;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
  filter: brightness(1) !important;
  margin-right: 7px;
}
.middle-section .accordion .accordion-body .accordion-item {
  margin-top: 3px;
  border: 0;
  background: none;
}
.middle-section .accordion .accordion-body .accordion-button {
  padding: 3px 10px;
  font-weight: 400 !important;
  font-size: 15px;
  border-radius: 3px !important;
}
.middle-section .accordion .accordion-body .accordion-button::after {
  border-top: 8px solid #000000;
  background: #fff;
  height: 15px !important;
  margin-right: 3px;
}

.overall-event-data {
  border-radius: 3px;
  display: flex;
  padding: 6px 0;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 4px;
  background-color: #e8e9eb;
}

.gameinfo-area {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  cursor: pointer;
  align-items: center;
  height: 100%;
  padding: 0 0 0 3px;
}

.matchinfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.matchInner_Info {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.country_score_main {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.country-name {
  line-height: 25px;
  font-size: 14px;
  color: #373737;
  width: 90%;
  align-content: center;
  text-align: left;
  padding-left: 10px;
}
.teamName {
  padding-left: 1px;
  max-height: 50px;
  line-height: 1.5;
  min-height: 25px;
  align-items: center;
  display: flex;
  font-size: 13px;
}
.scoredetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  font-weight: 600;
  justify-content: flex-start;
  line-height: 8px;
}
.scoredetails_div,
.scoredetails_div_21 {
  display: flex;
  float: right;
  height: 100%;
  width: 100%;
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.matchStatusInfo_cont {
  width: 40%;
  display: flex;
  flex-direction: column;
  min-height: 60px;
}
.matchDesk_desc {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  padding-left: 10px;
}
.matchData_content {
  width: max-content;
  padding: 2px 4px;
  font-size: 10.2px;
}

.matchContent {
  width: max-content;
  height: 10%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 2px;
  position: relative;
  margin-left: 0;
  background-color: #fff;
  margin-top: 3px;
}
.Score_21 {
  display: flex;
  color: #373737;
  float: left;
  text-align: left;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  justify-content: space-evenly;
}
.gameinfo-area2 {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  cursor: pointer;
  align-items: flex-end;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gameinfoInner {
  width: 90%;
  height: 100%;
  margin-top: 0;
}
.gameinfo-area2 .button {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 1px 0;
  display: flex;
}
.team_section01 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-away-team1 {
  display: flex;
  justify-content: center;
  color: #373737;
}
.team-button-disable {
  background: #707070;
  opacity: 0.6;
  pointer-events: none;
}
.team-button {
  height: 52px;
  width: 88%;
  max-width: 100px;
  background: #ffffff;
  float: left;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;
  color: #373737;
}
.team-button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1.5;
  position: relative;
}

.mainPlusScore_cont {
  width: 61px;
  height: 51px;
  background-color: #373737;
  border-radius: 2px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1px 2px;
  color: #fff;
}

.sports-nav .nav-item {
  width: 50%;
  margin-top: 10px;
}
.sports-nav .nav-link {
  border-radius: 0;
  display: flex;
  align-items: center;
  padding: 15px 12px;
  gap: 3px;
  font-size: 13px;
  width: 100%;
  justify-content: center;
  background: #373737;
  color: #fff;
}
.sports-nav .nav-link.active {
  background: #fff;
  color: #373737;
}
.sports-nav .nav-link.active img {
  filter: brightness(0.4);
}
.sports-nav .nav-link img {
  width: 18px;
}
.no_bet_message {
  padding: 15px 10px;
  display: flex;
  background-color: #ffbe00;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  border-bottom: 1px solid #c0bdbb;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #373737;
  font-weight: 600;
}

.tab-content .sports-nav .nav-link {
  background: none;
  border-bottom: 2px solid transparent;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 500;
  color: #37373773;
}
.tab-content .sports-nav .nav-link.active {
  color: #373737;
  border-bottom: 2px solid #ffbe00;
}
.tab-content .sports-nav .nav-item {
  margin-top: 5px;
  width: auto;
  margin-right: 15px;
}
.betlist_main {
  border-radius: 9px;
  padding: 7px;
  background-color: #f9f9f9;
  margin-top: 7px;
  margin-right: 7px;
}
.multibet-history-detail {
  width: 100%;
  letter-spacing: 0px;
  margin-bottom: 5px;
}
.team_result {
  width: 100%;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
  background-color: #fbbb00;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 7px;
}

.outCome_name {
  width: 81%;
  font-size: 13px;
  color: #373737;
  line-height: 20px;
  margin-left: 3px;
  padding: 5px;
}

.outCome_name_inner {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.34px;
}

.match_name,
.match_start_time {
  padding-left: 0;
  font-size: 13px;
  margin-top: 4px;
}

.bet_status_1,
.bet_status_2,
.bet_status_6 {
  color: #6d9f3a;
  height: 26px;
  width: 55px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
  font-size: 13px;
}
.reference_num {
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #363636;
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 7px;
}

.betDetails {
  width: 100%;
  display: flex;
  margin-top: 8px;
}

.betTime {
  width: 75%;
  font-size: 12px;
  margin-left: 1px;
  color: #373737;
  margin-top: 5px;
}

.bettype {
  width: 25%;
  font-size: 12px;
  text-align: right;
  color: #373737;
}

.profit_loss,
.amount_details {
  display: flex;
  width: 100%;
}
.MultibetOddDetails {
  display: flex;
  font-size: 10px;
  height: 33px;
  background-color: #fbbb00;
  margin-top: 10px;
  width: 100%;
  border-radius: 7px;
}
.stake {
  width: 56%;
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #373737;
  padding-left: 4px;
}

.stake_header {
  font-size: 12px;
  color: #373737;
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0 4px;
}

.stake_value {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
}

.stake {
  width: 56%;
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #373737;
  padding-left: 4px;
}

#content100 .cas-wrapper {
  width: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
  min-height: calc(100vh - 240px);
  background-color: #111010;
  border-top: 5px solid #252525;
}

.card-wrapper {
  width: 18.5%;
}

.card-container {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.content-container .img-container {
  height: 120px !important;
  width: 100%;
}

.game-desc {
  height: auto !important;
  padding: 2px 5px !important;
  height: 90px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-desc .details {
  font-size: 11px;
  color: #959292;
  font-weight: 400;
}

.game-desc p {
  text-align: left;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.game-desc .details {
  font-size: 12px;
  color: #959292;
  font-weight: 400;
}

.detail-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 5px;
  transition: 0.3s;
}

.content-container img {
  width: 100% !important;
  height: 100% !important;
  min-height: unset !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.detail-content button {
  background-color: #000;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #2b2929;
}
.detail-content button:hover {
  background-color: #64ffda1a;
  border: 1px solid #f3e7f5;
  color: #f3e7f5;
}
.detail-content button.demo {
  background-color: #3c3b3b;
}
.detail-content button.demo:hover {
  border: 1px solid #e71697;
  background-color: #ff64641a;
  color: #fff;
}
.detail-content:hover {
  opacity: 1;
  background-color: #535353b0;
}
.min-mx-bg {
  background-color: #fff;
}

.min-mx {
  border-radius: 20px;
  bottom: 10px;
  color: #000;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  padding: 3px 10px;
  z-index: 1;
  transform: translate(0, -3px);
}

.play-popup .modal-content {
  background: #000 !important;
}
.play-popup .modal-dialog {
  max-width: 350px !important;
}
.play-popup .btn {
  font-size: 15px;
  font-weight: 400;
}

.content-wrapper .nav-pills {
  flex-wrap: nowrap;
  border-radius: 50px;
  align-items: center;
  background-color: #252525;
  width: fit-content;
  margin: auto;
  padding: 5px;
}

.content-wrapper .nav-pills .nav-link {
  border-radius: 100px;
  padding: 5px 14px;
  text-transform: uppercase;
  font-size: 12px;
  background: none;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
  margin-right: 6px;
}
.content-wrapper .nav-pills .nav-item:last-child .nav-link {
  margin-right: 0;
}

.content-wrapper .nav-pills .nav-link.active {
  border: 2px solid #f4b315;
}

.casino-side-container {
  display: flex;
  flex-direction: row;
  grid-gap: 15px;
  gap: 15px;
  height: auto;
  background: #252525;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.casino-side-container .img-container {
  width: 140px;
  background-color: #141414;
  border-radius: 3px;
  position: relative;
  min-height: 80px !important;
  height: 130px !important;
}
.product-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  overflow: hidden;
  background-size: cover;
  border-radius: 3px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6f1ff;
  font-size: 17px;
  font-weight: 400;
}
.product-opacity {
  width: 140px;
  height: 140px;
  position: absolute;
  transition: 0.2s;
  z-index: 3;
}
.product-box img {
  width: 100% !important;
  height: 100% !important;
  min-height: unset !important;
  position: absolute;
  transition: 2.5s;
  object-fit: contain;
}
.product-content {
  opacity: 0;
  transition: 0.8s;
  position: relative;
  z-index: 5;
}
.product-content button {
  background-color: #7c0b94;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-box:hover > .product-opacity {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.product-content button:hover {
  background-color: #64ffda1a;
  border: 1px solid #f3e7f5;
  color: #f3e7f5;
}
.product-box:hover > .product-content {
  opacity: 1;
}
.product-box:hover img {
  transform: scale(1.01);
}
a {
  color: #fff !important;
  text-decoration: none;
}

.casinoesLink div {
  height: 30px;
  padding-left: 8px;
}
.header_top_txt_inn {
  line-height: 16px;
  vertical-align: middle;
  border-radius: 25px;
  font-size: 11px;
  width: max-content;
  padding: 0 8px 0 6px;
  font-weight: 500;
  text-align: center;
  margin-left: 2px;
  background: green;
  /* display: flex; */
  height: 33px;
  color: white;
}